.BookAppointmentForm{
    width: 100%;    
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BookAppointmentForm_box{
    width: 70vw;
    box-shadow: 0 0 6px #aaaaaa7d;
    padding: 20px;
    
}

.appointment_form{
    background: transparent;
}

.heading{
    margin-bottom: 50px;
    display: inline-block;
    border-bottom: 2px solid #0094ff;
}
.heading h2{
    font-size: 1.5rem; 
    text-align: center;   
}

.inputDiv{
    display: flex;
    width: 100%;
   gap: 10px;     
}


.inputDivBox{
    width: 50%;
}

.bookButton{
    width: 100%;
    background-color: #0094ff;
    border-radius: 5px;
    padding: 8px 20px;
    color: white;
    font-weight: 600;
    margin-top: 20px;
}